<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NonvoyxonaERP.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NonvoyxonaERP.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="BoshSahifa" asp-action="Index">NonvoyxonaERP.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="BoshSahifa" asp-action="Index">🏠 Bosh sahifa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Maxsulotlar" asp-action="Index">🥖 Maxsulotlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Xomashyo" asp-action="Index">🌾 Xomashyolar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Xodimlar" asp-action="Index">👥 Xodimlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Savdo" asp-action="Index">💰 Savdo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Tochkalar" asp-action="Index">📍 Tochkalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Kassalar" asp-action="Index">💵 Kassa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="IshAktlar" asp-action="Index">🏭 Ishlab Chiqarish</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Transferlar" asp-action="Index">🚚 Transferlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Davomatlar" asp-action="Index">📅 Davomat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Maoshlar" asp-action="Index">💳 Maosh</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - NonvoyxonaERP.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
